@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<P>View in sample</P>
<p>Name: @ViewData["Name"]</p>
<p>Age: @ViewBag.age</p>
<p>City: @TempData["City"]</p>
